{% extends 'base.html.twig' %}
{% block title %}Hello ClasseController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="card-title">LISTE DES CLASSES</h1>
		<button type="submit" class="btn btn-primary m-3">
			<a class="badge" href="{{path('app_add_classe')}}">AJOUTER UNE ClASSE</a>
		</button>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Libelle</th>
					<th scope="col">Filiere</th>
					<th scope="col">Niveau</th>
					<th scope="col">ACTIONS</th>
				</tr>
			</thead>
			{% for classe in classes %}
				<tr>
					<td>
						{{cpt}}
					</td>
					<td>
						{{classe.libelle}}
					</td>
					<td>
						{{classe.filiere}}
					</td>
					<td>
						{{classe.niveau}}
					</td>
					<td>
						<a href="{{path('app_classe_update',{"id":classe.id})}}" class="badge">
							<button type="submit" class="btn btn-warning m-3 test">
								UPDATE
							</button>
						</a>
						<a href="{{path('app_classe_delete',{"id":classe.id})}}" onclick="return confirm('test)" class="badge">
							<button type="submit" class="btn btn-danger m-3 test">
								DELETE
							</button>
						</a>
					</td>
				</tr>
				{% set cpt = cpt + 1 %}
			{% endfor %}
		</table>
		<div class="d-flex flex-end">
			{% do classes.setPageRange(10) %}
			{{knp_pagination_render(classes,'pagination.html.twig')}}
		</div>
	</div>

{% endblock %}
