{% extends 'base.html.twig' %}
{% block title %}Hello ClasseController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Libelle</th>
					<th scope="col">Filiere</th>
					<th scope="col">Niveau</th>
					<th scope="col">ACTIONS</th>
				</tr>
			</thead>
			{% for classe in classes %}
				<tr>
					<td>
						{{classe.libelle}}
					</td>
					<td>
						{{classe.filiere}}
					</td>
					<td>
						{{classe.niveau}}
					</td>
					<td>
						<a href="{{path('app_classe_update')}}" class="badge">
							<button type="submit" class="btn btn-warning m-3 test">
								UPDATE
							</button>
						</a>
						<a href="{{path('app_classe_delete',{"id":classe.id})}}" onclick="return confirm('test)" class="badge">
							<button type="submit" class="btn btn-danger m-3 test">
								DELETE
							</button>
						</a>
					</td>
				</tr>

			{% endfor %}
		</table>

	</div>
	<div class="d-flex justify-content-center">
		{% do classes.setPageRange(10) %}
		{{knp_pagination_render(classes,'pagination.html.twig')}}
	</div>
{% endblock %}
