{% extends 'base.html.twig' %}

{% block title %}Hello ProfesseurController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="card-title">LISTE DES PROFS</h1>
		<button type="submit" class="btn btn-primary m-3">
			<a class="badge" href="{{path('app_add_prof')}}">AJOUTER PROFESSEUR</a>
		</button>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom complet</th>
					<th scope="col">Sexe</th>
					<th scope="col">Grade</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			
			{% for prof in profs %}
				<tr>
					<td>
						{{cpt}}
					</td>
					<td>
						{{prof.nomComplet}}
					</td>
					<td>
						{{prof.sexe}}
					</td>
					<td>
						{{prof.grade}}
					</td>
					<td>
						<button type="submit" class="btn btn-primary m-3">
							<a class="badge" href="#">AFFECTER CLASSE</a>
						</button>
					</td>
				</tr>
				{% set cpt = cpt + 1 %}
			{% endfor %}
		</table>
		<div class="d-flex flex-end">
			{% do profs.setPageRange(10) %}
			{{knp_pagination_render(profs,'pagination.html.twig')}}
		</div>

	</div>

{% endblock %}
