{% extends 'base.html.twig' %}
{% block title %}Inscrire Un Etudiant
{% endblock %}

{% block body %}
	<section class="gradient-custom">
		<div class="container py-5 h-100">
			<div class="row justify-content-center align-items-center h-100">
				<div class="col-12 col-lg-9 col-xl-7">
					<div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
						<div class="card-body p-4 p-md-5">
							<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Inscription</h3>
							{{form_start(form)}}
							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										{{form_row(form.etudiant.nomComplet,)}}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										{{ form_row(form.etudiant.adresse) }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										{{ form_row(form.etudiant.sexe) }}
									</div>
								</div>
							</div>
							<h6 class="mb-2 pb-1">Classe:</h6>
							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										{{ form_row(form.classe) }}
									</div>
								</div>
							</div>

							<div class="mt-4 pt-2">
								<button type="submit" name="submit" class="btn btn-primary btn-lg">
									ADD
								</button>

							</div>
							{{form_end(form)}}

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
