{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="card-title">LISTE DES INSCRIPTIONS</h1>
		{% if is_granted('ROLE_AC') %}
			<a class="btn btn-primary m-3" href="{{path('add_inscription')}}">Inscrire un etudiant</a>
		{% endif %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Matricule</th>
					<th scope="col">Nom complet</th>
					<th scope="col">Sexe</th>
					<th scope="col">Classe</th>
					<th scope="col">Action</th>
				</tr>
			</thead>

			{% for inscription in inscriptions %}
				<tr>
					<td>
						{{cpt}}
					</td>
					<td>
						{{inscription.etudiant.matricule}}
					</td>
					<td>
						{{inscription.etudiant.nomComplet}}
					</td>
					<td>
						{{inscription.etudiant.sexe}}
					</td>
					<td>
						{{inscription.classe.libelle}}
					</td>
					<td>
						{% if is_granted('ROLE_AC') %}
							<a class="btn btn-info m-3" href="{{path('reinscrire',{"id":inscription.id})}}">REINSCRIRE</a>
						{% endif %}

					</td>
				</tr>
				{% set cpt = cpt + 1 %}
			{% endfor %}
		</table>
		<div class="d-flex flex-end">
			{% do inscriptions.setPageRange(10) %}
			{{knp_pagination_render(inscriptions,'pagination.html.twig')}}
		</div>

	</div>

{% endblock %}
