{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="card-title">LISTE DES MODULES DE L'ECOLE</h1>
		{{form_start(form)}}
		<div class="row">
			<div class="col-md-6 mb-4">
				<div class="form-outline">
					{{ form_row(form.libelle) }}
				</div>
			</div>
			<div class="col-md-6 mt-4">
				<input class="btn btn-primary btn-lg" type="submit" value="ADD"/>
			</div>
		</div>

		{{form_end(form)}}

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Libelle</th>
					<th scope="col">ACTIONS</th>
				</tr>
			</thead>

			{% for module in modules %}
				<tr>
					<td>
						{{cpt}}
					</td>
					<td>
						{{module.libelle}}
					</td>
					<td>
						<a href="{{path('app_details_module',{"id" : module.id})}}" class="badge">
							<button type="submit" class="btn btn-info m-3 test">
								DETAILS
							</button>
						</a>
					</td>
				</tr>
				{% set cpt = cpt + 1 %}

			{% endfor %}
		</table>
		<div class="d-flex flex-end">
			{% do modules.setPageRange(10) %}
			{{knp_pagination_render(modules,'pagination.html.twig')}}
		</div>
	</div>

{% endblock %}
